<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgA7UDpJsUq729KDBoUL2IOqxblMvjMp8</string>
	<key>GCM_SENDER_ID</key>
	<string>722897713075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alban.mobilitemoderne</string>
	<key>PROJECT_ID</key>
	<string>suptek-digital</string>
	<key>STORAGE_BUCKET</key>
	<string>suptek-digital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722897713075:ios:193efc57ed238462757dc6</string>
</dict>
</plist>